.nav-wrapper {
    background-color: #6f4037;
}

.slider .indicators .indicator-item.active {
    background-color: #6f4037;
}

.parallax-container {
    min-height: 280px;
    height: auto;
}

.icon-cofee {
    color: #6f4037;
}

.footer-one {
    background-color: #6f4037;
}

.footer-two {
    background-color: #462822;
}